{{!-- This is the menu container --}}
<nav class="nav">
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
        {{/foreach}}
        <li class="nav"><a href="#" id="contact-trigger" data-toggle="modal" data-target="#contactModal">{{t "Contact"}}</a></li>
    </ul>
</nav>