<div class="row">
    <div class="col-md-12 post-cover-container">
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="Do MMMM YYYY"}}</time>
        <div class="post-cover post-meta {{#if feature_image}}has-image{{/if}}">
            <div class="pagination-number"></div>
            <h1 class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</h1>
            <div class="author-name text-center">
                {{authors separator=" / "}}
            </div>
            <a href="#" class="read-later" data-id="{{comment_id}}"></a>
            {{#if feature_image}}
                <style type="text/css">
                    .responsive-header-img-{{slug}} {
                        background-size: cover;
                        background-image: url({{img_url feature_image size='l'}});
                    }
                    @media(max-width: 767px) {
                        .responsive-header-img-{{slug}} {
                            background-image: url({{img_url feature_image size='m'}});
                            background-image: -webkit-image-set(
                                    url({{img_url feature_image size='m'}}) 1x,
                                    url({{img_url feature_image size='l'}}) 2x
                            );
                            background-image: image-set(
                                    url({{img_url feature_image size='m'}}) 1x,
                                    url({{img_url feature_image size='l'}}) 2x
                            );
                        }
                    }
                </style>
                <div class="cloned-content">
                    <div class="img-holder responsive-header-img-{{slug}}"></div>
                    <div class="pagination-number"></div>
                    <span class="post-title col-lg-8 col-sm-10 offset-sm-1 offset-lg-2">{{title}}</span>
                    <span class="author-name text-center">
                        {{authors separator=" / "}}
                    </span>
                    <a href="#" class="read-later" data-id="{{comment_id}}"></a>
                </div>
            {{/if}}
        </div>
    </div>
</div>
