{{! SITE'S META DATA }}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{! SITE'S DESCRIPTION }}
<title>{{meta_title}} {{^is "home, paged"}}| {{@site.title}}{{/is}}</title>
<meta name="description" content="{{meta_description}}">

{{!-- Styles'n'Scripts --}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" type="text/css" href="{{asset "built/css/libraries.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "built/css/style.css"}}" />