<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        {{> theme_head}}
        {{ghost_head}}
    </head>
    <body class="{{body_class}} nav-closed">

        {{> "notifications"}}
        {{> "contact-modal"}}

        <div class="main-container">
            {{> theme_header}}
            {{{body}}}
            {{> theme_footer}}
        </div>
        
        <script type="text/javascript" src="https://unpkg.com/@tryghost/content-api@1.4.4/umd/content-api.min.js"></script>
        <script type="text/javascript" src="{{asset "built/js/libraries.js"}}"></script>

        <script>
            var printStyleUrl = `{{asset "built/css/print.css"}}`;
            var siteUrl = "{{@site.url}}";
        </script>

        {{#if pagination.pages}}
            <script>
                var maxPages = parseInt('{{pagination.pages}}');
            </script>
        {{/if}}

        {{ghost_foot}}

        <script src="https://kwes.io/v2/kwes-script.js" defer></script>
        <script type="text/javascript" src="{{asset "built/js/main.js"}}"></script>

    </body>
</html>