{{!< ../default}}

<main id="content" class="container content-inner" role="main">
    <section class="signin-content">
        {{#if @member}}

        {{!-- Logged in: Redirect home --}}
            <script>window.location = '{{@site.url}}';</script>

        {{else}}

        {{!-- Not logged in: Signin form --}}
            <form class="signin-form" data-members-form="signin">
                <h1 class="signin-title">{{t "Welcome back!"}}</h1>
                <p>{{t "Sign into your account again for full access"}}</p>
                <div class="signin-box">
                    <input data-members-email type="email" placeholder="{{t "Your email address"}}" required="true" autocomplete="false" />
                    <button class="btn btn-control btn-primary btn-lg" type="submit">
                        <div class="message-loading">{{> "icons/loading"}}</div>
                        <span class="button-content">{{t "Send login link"}}</span>
                    </button>
                </div>
                <p><small>{{t "Don't have an account yet?"}} <a href="{{@site.url}}/signup/"><strong>{{t "Sign up"}}</strong></a></small></p>
                <div class="message-success">{{t "Great! Check your inbox and click the link to complete signin"}}</div>
                <div class="message-error">{{t "Please enter a valid email address!"}}</div>
            </form>

        {{/if}}
    </section>
</main>
